

.form__container {
  background-color: #f7f8fa;
  margin: 0 100px;
  width: 80%;
  padding: 40px;
  border: 1px solid #dddddd;
}

form {

  background-color: #f7f8fa;
  min-height: 100vh;
  width: 80%;
  margin: 0 100px; 
  padding: 40px;
  font-size: calc(10px + 2vmin);
  border: 1px solid #dddddd;
 
}

label {
  margin-right: 40px;
}

span {
  margin-right: 40px;
}
input {
  min-height: 40px;
}
.category {
  margin: 5px 0 200px 0;
}
.writeNewField {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
margin-top: 20px;
 padding: 5px 20px;
 font-size: 16px;
}

.btn--save {
  margin-right: 20px;
}

.main__container {
  padding: 20px 0;
}

.add-form {
  margin-top: 40px;
}
